In [2]:
# Unique Words in a Sentence

import re

def analyze_sentence(sentence):
    # Convert to lowercase and split into words, removing punctuation
    words = re.findall(r'\b\w+\b', sentence.lower())

    # Get unique words using a set
    unique_words = sorted(list(set(words)))

    print(f"Original sentence: '{sentence}'")
    print(f"\nNumber of unique words: {len(unique_words)}")
    print(f"Unique words: {unique_words}")

# Example usage:
sentence_input = "python is easy and python is powerful"
analyze_sentence(sentence_input)

Original sentence: 'python is easy and python is powerful'

Number of unique words: 5
Unique words: ['and', 'easy', 'is', 'powerful', 'python']

In [4]:
# Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_salary = 0
highest_paid_employee = ""

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_paid_employee = name

print(f"Highest Salary: {highest_paid_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

In [6]:
# Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print(f"List: {numbers}")
print(f"Max: {max_val}")
print(f"Min: {min_val}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [7]:
# Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]

count_above_1000 = 0

for price in prices:
    if price > 1000:
        count_above_1000 += 1

print(f"Products above 1000: {count_above_1000}")

Products above 1000: 2

In [8]:
# Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

total_days = len(attendance)
present_days = attendance.count("P")

if total_days > 0:
    attendance_percentage = (present_days / total_days) * 100
    print(f"Attendance Percentage: {attendance_percentage:.1f}")
else:
    print("No attendance data provided.")

Attendance Percentage: 80.0

In [9]:
# Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210, 1234567890, 9123456789]

unique_phone_numbers = set(phone_numbers)

print(f"Unique phone numbers: {unique_phone_numbers}")

Unique phone numbers: {1234567890, 9876543210, 9123456789}

In [10]:
# Count Character Frequency

input_string = "python"
character_counts = {}

for char in input_string:
    character_counts[char] = character_counts.get(char, 0) + 1

print(character_counts)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [11]:
# Convert List to Tuple

my_list = [10, 20, 30]
my_tuple = tuple(my_list)

print(f"Tuple: {my_tuple}")

Tuple: (10, 20, 30)

In [13]:
# Check if a Key Exists in a Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

search_key = "Ravi"

if search_key in employees:
    print(f"{search_key} exists")
else:
    print(f"{search_key} does not exist")

Ravi exists

In [14]:
# Calculate Average Marks

marks = [70, 75, 80, 65]

total_marks = sum(marks)
number_of_marks = len(marks)

if number_of_marks > 0:
    average_marks = total_marks / number_of_marks
    print(f"Average Marks: {average_marks:.1f}")
else:
    print("No marks provided to calculate the average.")

Average Marks: 72.5